<!-- Home Page -->

<h2>Patients</h2>
<p>Here you can view, add, and delete patients.</p>
<h2>Drugs</h2>
<p>Here you can view and add drugs.</p>
<h2>Nurses</h2>
<p>Here you can view, add, and update nurses.</p>
<h2>Nurses has Patients</h2>
<p>Here you can view and add Nurse-Patient relationships.</p>
<h2>Dispenses</h2>
<p>Here you can view and add dispense events to track when a nurse dispenses a drug to fulfill a prescription.</p>
<h2>Prescriptions</h2>
<p>Here you can view and add prescriptions for patients.</p>
