<!-- Home Page -->

<h2><a class="two" href="/patients">Patients</a></h2>
<p>View, add, and delete patients.</p>

<h2><a class="two" href="/nurses">Nurses</a></h2>
<p>View, add, update, and delete nurses.</p>

<h2><a class="two" href="/nhp">Nurse-Patient Assignments</a></h2>
<p>View, add, and delete nurse-patient assignments.</p>

<h2><a class="two" href="/prescriptions">Prescriptions</a></h2>
<p>View, add, and delete patient prescriptions.</p>

<h2><a class="two" href="/drugs">Drugs</a></h2>
<p>View, add, and delete drugs.</p>

<h2><a class="two" href="/dispenses">Dispense Records</a></h2>
<p>View, add, and delete drug dispense records.</p>

