<!-- Home Page -->

<h2>Patients</h2>
<p>View, add, and delete patients.</p>
<h2>Drugs</h2>
<p>View, add, and delete drugs.</p>
<h2>Nurses</h2>
<p>View, add, update, and delete nurses.</p>
<h2>Nurses has Patients</h2>
<p>View, add, and delete nurse-patient assignments.</p>
<h2>Dispenses</h2>
<p>View, add, and delete dispense events to track when a nurse dispenses a drug to fulfill a prescription.</p>
<h2>Prescriptions</h2>
<p>View, add, and delete prescriptions for patients.</p>
